<!--layout.html 공통부분 상속 -->
{% extends 'layout.html' %}

{% block pageTitle %}
<br><br><br>
<h3> The correlation of jaywalking </h3>

{% endblock %}

{% block contents %}

<div id="fh5co-counter" class="fh5co-counters">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box">
            <p>
            <h3> 서울특별시 무단횡단 사고 집계 [ 2012-2017 ]</h3>
            </p>
        </div>
    </div>
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="38507" data-speed="1000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">발생건수</span>
                </div>
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="40771" data-speed="1000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">사상자수</span>
                </div>
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="19515" data-speed="1000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">중상자수</span>
                </div>
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="1909" data-speed="1000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">사망자수</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <img src="static/images/graphic-910065_1280.png" alt="course01">
</div>


<!-- jQuery -->
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>
<!-- Main -->
<script src="../static/js/main.js"></script>
{% endblock %}